# DAML
.interfaces
.package-database
.daml
*.log

# build
target
classes
*.jar
*.class
.shadow-cljs
cljs-runtime
resources/public/js

# clj
.cpcache

# emacs
.\#*

# vim
*.swp
*.swo

# macOS
.DS_Store

# nREPL
.nrepl-port

# nohup
nohup.out

# misc
logs
log
tmp
*.tmp

node_modules
