{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/alpha.spec
  {:git/url "https://github.com/clojure/spec-alpha2",
   :sha "8a5f96513582343c68e64686e2f0bd2c44adbe94"},
  com.daml.ledger/bindings-rxjava
  {:mvn/version "100.13.41",
   :exclusions [com.google.protobuf/protobuf-lite]},
  nuid/codec
  {:git/url "https://github.com/nuid/codec.git",
   :sha "50d3946126b5db457fd2ffd4e1bc15ac36b0ea95"},
  bidi {:mvn/version "2.1.6"},
  nuid/zk
  {:git/url "https://github.com/nuid/zk.git",
   :sha "9497df5bc5ac9f4f836c64470d99c83fbbc740e0"},
  nuid/base64
  {:git/url "https://github.com/nuid/base64.git",
   :sha "ab441adf14861b0e4a51329190a6672fbf8d7226"},
  http-kit {:mvn/version "2.3.0"},
  com.google.guava/guava {:mvn/version "28.0-jre"},
  hiccup {:mvn/version "1.0.5"},
  nuid/cryptography
  {:git/url "https://github.com/nuid/cryptography.git",
   :sha "73df9ccfca27e3313a3732fbaea3e326a6843235"},
  buddy/buddy-auth {:mvn/version "2.2.0"},
  org.clojure/test.check {:mvn/version "0.10.0"},
  ring/ring-core {:mvn/version "1.8.0"},
  ring-middleware-format {:mvn/version "0.7.4"},
  org.clojure/core.async {:mvn/version "0.6.532"}},
 :aliases
 {:codegen
  {:extra-deps {com.daml.java/codegen {:mvn/version "100.13.41"}},
   :main-opts
   ["-m"
    "daml.codegen.main"
    "-o"
    "target/generated-sources/daml-nuid-example"
    "-d"
    "com.nuid.credential.TemplateDecoder"
    ".daml/dist/daml-nuid-example-1.0.0.dar=com.nuid.credential.model"]},
  :cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.597"},
    org.clojure/spec.alpha {:mvn/version "0.2.176"},
    thheller/shadow-cljs {:mvn/version "2.8.83"},
    nuid/browser
    {:git/url "git@github.com:nuid/browser.git",
     :sha "0fb5c76a343f62feabbb854b8b6332088fe878d7"},
    cljs-http {:mvn/version "0.1.46"},
    stylefy {:mvn/version "1.14.0"},
    reagent {:mvn/version "0.8.1"}}},
  :repl {:extra-paths ["target/classes" "resources"]},
  :server
  {:extra-paths ["target/classes" "resources"],
   :main-opts ["-m" "example.server"]}},
 :paths ["src"]}
